<!doctype html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
img {
   max-width: 40%;
   height: auto;
}
</style>
</head>

<body>
<title>E6895 Project</title>
<img src="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E5%A2%A8%E8%BF%B9%E5%A4%A9%E6%B0%94logo&step_word=&hs=0&pn=1&spn=0&di=121753005770&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=0&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=1956201512%2C2575221309&os=3901084350%2C3171469508&simid=4093388579%2C502605111&adpicid=0&lpn=0&ln=308&fr=&fmq=1496636539212_R&fm=rs1&ic=undefined&s=undefined&se=&sme=&tab=0&width=undefined&height=undefined&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=%E5%A2%A8%E8%BF%B9%E5%A4%A9%E6%B0%94&objurl=http%3A%2F%2Fpic.962.net%2Fup%2F2016-6%2F2016629913431009.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3Blmd_z%26e3BgjpAzdH3Fv544jgp_8ab8a9_a_z%26e3Bip4s&gsm=0&rpstart=0&rpnum=0" alt="Columbia" style="width:40%">
<h3>Welcome!</h3>
<h3>E6895 Project: Image Classification As A Cloud Service</h3>
<p>Team Members: MOJI METEO </p>


<form action="{{ url_for('index') }}" method="POST">

<input type="submit" name="subject" value="Upload an image">
<input type="submit" name="subject" value="Search images based on tags">

</form>



{% if upload_an_image %}
</p>
</p>
<form action="upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file"><br /><br />
  <input type="submit" name="submit" value="Upload">
</form>
{% endif %}

{% if search_an_image %}
</p>
</p>
<p>Enter a tag</p>
<form action="{{ url_for('index') }}" method="POST">
    <dt><input type="text" name="searched_tag">
    <dt><input type="submit" name="subject" value="start_search">
</form>
{% endif %}


{% if s_filenames %}

{% for s_filename in s_filenames %}
<img src="{{s_filename}}",style="width:20%"/>
{% endfor %}

{% endif %}<!-- end s_filenames -->

{% if messages %}
{{messages}}
{% endif %}

{% if filename %}
</p>
</p>
<p>You have uploaded an image!</p>
{{filename}}
</p>
<img src="{{filename}}"/>

<table style="width:40%">
  <caption>Classifications</caption>
  <tr>
    <th>Tags</th>
    <th>Probabilities</th>
  </tr>
  {% for p_and_tags in p_and_tags %}
  <tr>
    <td>{{p_and_tags.1}}</td>
    <td>{{p_and_tags.0}}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}


